In [ ]:
.ipynb  ==> interactive python notebook 
.py ==>

<h2>This is my first python program</h2>

In [ ]:
print("hello world")

hello world

In [11]:
num = -25 
print(num)
print(type(num))

-25
<class 'int'>

In [7]:
num = 25.25
print(num)
print(type(num))

25.25
<class 'float'>

In [8]:
num = True 
print(num)
print(type(num))

True
<class 'bool'>

In [9]:
num = False 
print(num)
print(type(num))

False
<class 'bool'>

#### String

In [19]:
st = "upflairs pvt ltd jaipur rajasthan"
print(st)
print(type(st))

upflairs pvt ltd jaipur rajasthan
<class 'str'>

In [14]:
st = 'upflairs pvt ltd jaipur rajasthan'
print(st)
print(type(st))

upflairs pvt ltd jaipur rajasthan
<class 'str'>

In [15]:
st = """upflairs pvt ltd jaipur rajasthan"""
print(st)
print(type(st))

upflairs pvt ltd jaipur rajasthan
<class 'str'>

In [20]:
st = '''upflairs pvt
 ltd jaipur 
rajasthan'''
print(st)
print(type(st))

upflairs pvt
 ltd jaipur
rajasthan
<class 'str'>

In [21]:
st = "UPFLAIRS"
print(st)

UPFLAIRS

INDEXING : position  value 
two types:
positive indexing (Forwarding indexing)  0  --  n 
negative indexing (Backward indexing)   -1 

U   P    F   L   A   I   R     S
0   1    2   3   4   5   6     7   (positive indexing)
-8  -7  -6  -5  -4  -3  -2    -1   (negative indexing)

### string slicing

IA

In [ ]:
st = "UPFLAIRS"  # sigle character 
print(st[-2])

R

##### print(st[start : stop  : jump ])

In [ ]:
print(st[-4:-1:-1])   ## multiple character

AIR

In [ ]:
# user defined and pre-defined 
st = "UPFLAIRS" 
print(len(st))  # no. char in the string

8

In [4]:
a = 10 
a

10

In [ ]:
st = "upflairs"
print(st.upper()) # to convert inot upper case

UPFLAIRS

In [7]:
st = "UPFLAIRS"
print(st.lower()) # to convert inot lower case

upflairs

In [8]:
st = "upflairs pvt ltd jaipur rajasthan"  
print(st.title())

Upflairs Pvt Ltd Jaipur Rajasthan

In [9]:
st = "upflairs pvt ltd jaipur rajasthan"  
print(st.capitalize())

Upflairs pvt ltd jaipur rajasthan

In [14]:
st = "upflairs pvt Ltd JAIPUR rajasthan"  
print(st.swapcase())

UPFLAIRS PVT lTD jaipur RAJASTHAN

In [17]:
st = "upflairs"
print(st.islower())

True

In [ ]:
st = "UPFLAI RS"
print(st.isupper())

False

In [3]:
st = "        upflars       " 
print(st)
print(st.strip())  # it removes the space from both side

dfd         upflars
dfd         upflars

In [4]:
st = "        upflars       " 
print(st)
print(st.lstrip())  # it removes the space from left side

        upflars
upflars

In [5]:
st = "        upflars       " 
print(st)
print(st.rstrip())  # it removes the space from right side

        upflars
        upflars

In [6]:
st = "upflairs"
print(len(st))  # no. of character

8

In [10]:
st = "upflairs pvt ltd jaipur ltd rajasthan" 
# st.find()
# st.index()  
print(st.find('ltd'))
print(st.index('ltd'))

13
13

In [11]:
st = "upflairs pvt ltd jaipur rajasthan" 
# st.find()
# st.index()  
print(st.find('p'))
print(st.index('p'))

1
1

In [13]:
st = "upflairs pvt ltd jaipur rajasthan" 
# st.find()
# st.index()  
# print(st.find('z'))   # not available 
print(st.index('z'))

ValueError: substring not found

In [14]:
st = "upflairs pvt ltd jaipur rajasthan"  
# print(st.find('p'))

1

In [20]:
name = "ranjit singh"
age = 27 
city = "mathura" 
print("Hey this is ",name," and i am ",age," year old from ",city)

Hey this is  ranjit singh  and i am  27  year old from  mathura

In [26]:
st = "upflairs pvt ltd jaipur rajasthan "  
print("Your p is present at this location : ",st.find('p')) 
print("No. of times : ",  st.count('p'))

Your p is present at this location :  1
No. of times :  3

In [29]:
st = "upflairs pvt ltd jaipur rajasthan "  
print("Your p is present at this location : ",st.find('p',10))

Your p is present at this location :  20

In [32]:
st = "upflairs pvt ltd jaipur rajasthan"  
print(st.endswith("an"))

True

In [34]:
st = "upflairs pvt ltd jaipur rajasthan"  
print(st.startswith("up"))

True

In [ ]:
# string , list , tuple , dict , set , 
# mutable  (changeble )
# imutable (non-changeble)

# string ==> imutable

In [39]:
st = "upflairs pvt ltd jaipur rajasthan" 
print(st.replace("upflairs","Delvex"))
print(st)

Delvex pvt ltd jaipur rajasthan
upflairs pvt ltd jaipur rajasthan

In [41]:
st = "upflairs pvt ltd jaipur rajasthan" 
st2 = st.replace("upflairs","Delvex")
print(st2)
print(st)

Delvex pvt ltd jaipur rajasthan
upflairs pvt ltd jaipur rajasthan

In [38]:
print(st)

upflairs pvt ltd jaipur rajasthan

In [44]:
st = "upflairs pvt ltd jaipur rajasthan" 
print(st.rfind('p'))
print(st.find('p'))

20
1

In [45]:
st = "upflairs pvt ltd jaipur rajasthan"
print(st.split())  # by default it devides by the space

['upflairs', 'pvt', 'ltd', 'jaipur', 'rajasthan']

In [46]:
st = "upflairs pvt ltd , jaipur rajasthan"
print(st.split(","))  # by default it devides by the space

['upflairs pvt ltd ', ' jaipur rajasthan']

In [47]:
name = "radhey"
age = 27 
city = "mathura" 
st = "hey this is {} from {} and i am {} year old"
print(st)

hey this is {} from {} and i am {} year old

In [49]:
name = "ranjit"
age = 27 
city = "mathura" 
st = "hey this is {} from {} and i am {} year old".format(name,city,age)
print(st)

hey this is ranjit from mathura and i am 27 year old

In [52]:
# formated string "f string "
name = "ranjit"
age = 27 
city = "mathura" 
st = f"hey this is {name} from {city} and i am {age} year old"
print(st)

hey this is ranjit from mathura and i am 27 year old

In [ ]:
name = "ranjit singh"
age = 27 
city = "mathura" 
print("Hey this is ",name," and i am ",age," year old from ",city)

In [61]:
print("hello world "  *  2)  # replication method

hello world hello world

In [62]:
st1 = "Ranjit "
st2 = "Singh"
st3  = st1 + st2   # concatenate 
print(st3)

Ranjit Singh

In [63]:
st1 = "Ranjit "
st2 = "Singh"
age = 27
st3  = st1 + st2 + age   # concatenate 
print(st3)

TypeError: can only concatenate str (not "int") to str

In [64]:
print("hello world")  # occupied single line 
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world

In [66]:
print("hello world")
print("hello \t world")  # \t ==> tab

hello world
hello 	 world

In [67]:
print("hello world")
print("hello \n world")  # \t ==> tab

hello world
hello
 world

In [71]:
print("hello world")
print("hello \\ world")  # \t ==> tab

hello world
hello \ world

In [74]:
st = r"hello \t world"  # raw string 
print(st)

hello \t world