### Dictionary 
multiple items store, but in a pair form (key:value)

In [2]:
# indexing   
st = {"name":"radhey","roll_no":101,"branch":'cse',"city":'mathura'}
print(st)
print(type(st))

{'name': 'radhey', 'roll_no': 101, 'branch': 'cse', 'city': 'mathura'}
<class 'dict'>

In [8]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}
<class 'dict'>

In [6]:
# indixing == key 
print(dt2["C"])

30

In [9]:
# duplicate key is not allowed
dt2 = {"A":10,"B":20,"C":30,"D":40,"B":100,"E":25.2,"F":True,"G":(14,25,36),"H":[10,20,30]}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 100, 'C': 30, 'D': 40, 'E': 25.2, 'F': True, 'G': (14, 25, 36), 'H': [10, 20, 30]}
<class 'dict'>

In [10]:
dt2 = {"A":10,"B":20,"C":30,"D":40,"B":100,"F":{14,52,63,8}}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 100, 'C': 30, 'D': 40, 'F': {8, 52, 14, 63}}
<class 'dict'>

In [15]:
dt2 = {"Abc":10,"BBBBBBBB":20,5:30,"D":40,25.2:100,True:85}
print(dt2)
print(type(dt2))

{'Abc': 10, 'BBBBBBBB': 20, 5: 30, 'D': 40, 25.2: 100, True: 85}
<class 'dict'>

In [ ]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

In [16]:
ls = [10,20,30,40.25]
print(ls)
print(type(ls))

[10, 20, 30, 40.25]
<class 'list'>

In [20]:
dt = {"results":[{"gender":"male","name":{"title":"Mr","first":"vikas","last":"singh"}},{"location":"jaipur"},{"number":956924}]}
print(dt)
print(type(dt))

{'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'vikas', 'last': 'singh'}}, {'location': 'jaipur'}, {'number': 956924}]}
<class 'dict'>

In [21]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}
<class 'dict'>

In [22]:
print(dt2.keys())

dict_keys(['A', 'B', 'C', 'D'])

In [23]:
print(dt2.values())

dict_values([10, 20, 30, 40.25])

In [26]:
dt = {"results":[{"gender":"male","name":{"title":"Mr","first":"vikas","last":"singh"}},{"location":"jaipur"},{"number":956924}]}
print(dt)
print(type(dt))

{'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'vikas', 'last': 'singh'}}, {'location': 'jaipur'}, {'number': 956924}]}
<class 'dict'>

In [27]:
print(dt.keys())

dict_keys(['results'])

In [25]:
dt = {'a':1,'b':{'c':10}}
print(dt.values())

dict_values([1, {'c': 10}])

In [ ]:
insertion , deletion ,update  
accessing