### Dictionary 
multiple items store, but in a pair form (key:value)

In [1]:
# indexing   
st = {"name":"radhey","roll_no":101,"branch":'cse',"city":'mathura'}
print(st)
print(type(st))

{'name': 'radhey', 'roll_no': 101, 'branch': 'cse', 'city': 'mathura'}
<class 'dict'>

In [8]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}
<class 'dict'>

In [6]:
# indixing == key 
print(dt2["C"])

30

In [9]:
# duplicate key is not allowed
dt2 = {"A":10,"B":20,"C":30,"D":40,"B":100,"E":25.2,"F":True,"G":(14,25,36),"H":[10,20,30]}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 100, 'C': 30, 'D': 40, 'E': 25.2, 'F': True, 'G': (14, 25, 36), 'H': [10, 20, 30]}
<class 'dict'>

In [10]:
dt2 = {"A":10,"B":20,"C":30,"D":40,"B":100,"F":{14,52,63,8}}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 100, 'C': 30, 'D': 40, 'F': {8, 52, 14, 63}}
<class 'dict'>

In [15]:
dt2 = {"Abc":10,"BBBBBBBB":20,5:30,"D":40,25.2:100,True:85}
print(dt2)
print(type(dt2))

{'Abc': 10, 'BBBBBBBB': 20, 5: 30, 'D': 40, 25.2: 100, True: 85}
<class 'dict'>

In [ ]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

In [16]:
ls = [10,20,30,40.25]
print(ls)
print(type(ls))

[10, 20, 30, 40.25]
<class 'list'>

In [20]:
dt = {"results":[{"gender":"male","name":{"title":"Mr","first":"vikas","last":"singh"}},{"location":"jaipur"},{"number":956924}]}
print(dt)
print(type(dt))

{'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'vikas', 'last': 'singh'}}, {'location': 'jaipur'}, {'number': 956924}]}
<class 'dict'>

In [21]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}
<class 'dict'>

In [22]:
print(dt2.keys())

dict_keys(['A', 'B', 'C', 'D'])

In [23]:
print(dt2.values())

dict_values([10, 20, 30, 40.25])

In [26]:
dt = {"results":[{"gender":"male","name":{"title":"Mr","first":"vikas","last":"singh"}},{"location":"jaipur"},{"number":956924}]}
print(dt)
print(type(dt))

{'results': [{'gender': 'male', 'name': {'title': 'Mr', 'first': 'vikas', 'last': 'singh'}}, {'location': 'jaipur'}, {'number': 956924}]}
<class 'dict'>

In [27]:
print(dt.keys())

dict_keys(['results'])

In [25]:
dt = {'a':1,'b':{'c':10}}
print(dt.values())

dict_values([1, {'c': 10}])

In [ ]:

accessing , update,  insertion , deletion ,

In [2]:
dt2 = {"A":10,"B":20,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}
<class 'dict'>

In [8]:
dt2[30]

KeyError: 30

In [9]:
dt2

{'A': 10, 'B': 20, 'C': 30, 'D': 40.25}

In [13]:
if "A" in dt2:
    print("yes")
else:
    print('No')

yes

In [14]:
ls = [("A",10),("B",20),("C",30),("D",40)]
print(ls)
print(type(ls))

[('A', 10), ('B', 20), ('C', 30), ('D', 40)]
<class 'list'>

In [15]:
dt2  = dict(ls)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [17]:
list(dt2.items())

[('A', 10), ('B', 20), ('C', 30), ('D', 40.25)]

In [21]:
dt2.get("C")  # dt['C']

30

In [ ]:
dt2['f']

KeyError: 'f'

In [26]:
dt2 = {"A":10,"B":None,"C":30,"D":40.25}
print(dt2)
print(type(dt2))

{'A': 10, 'B': None, 'C': 30, 'D': 40.25}
<class 'dict'>

In [29]:
dt2.get('f')

In [27]:
dt2.get("f","not available")

'not available'

In [30]:
dt2

{'A': 10, 'B': None, 'C': 30, 'D': 40.25}

In [31]:
dt2

{'A': 10, 'B': None, 'C': 30, 'D': 40.25}

In [ ]:
dt2['C'] = 50  # updation

In [34]:
dt2

{'A': 10, 'B': None, 'C': 50, 'D': 40.25}

In [36]:
# insertion 
dt2["E"]  = 100

In [37]:
print(dt2)

{'A': 10, 'B': None, 'C': 50, 'D': 40.25, 'E': 100}

In [ ]:
dt2.pop("B")  # specified key delete

In [46]:
print(dt2)

{'A': 10}

In [45]:
dt2.popitem()  # remove the pair from the last position

('C', 50)

In [48]:
dt1  = {'A': 10, 'B': None, 'C': 30, 'D': 40.25}
dt2 = {'E':200,'F':300,'C':500}
print(dt)

{'A': 10, 'B': None, 'C': 30, 'D': 40.25}

In [50]:
dt1.update(dt2)  # set update 
print(dt1)

{'A': 10, 'B': None, 'C': 500, 'D': 40.25, 'E': 200, 'F': 300}

In [55]:
dt = dict.fromkeys(['A','B','C','D'],"upflairs")
print(dt)

{'A': 'upflairs', 'B': 'upflairs', 'C': 'upflairs', 'D': 'upflairs'}

In [54]:
dt = dict.fromkeys(['A','B','C','D'],("upflairs","Delvex"))
print(dt)

{'A': ('upflairs', 'Delvex'), 'B': ('upflairs', 'Delvex'), 'C': ('upflairs', 'Delvex'), 'D': ('upflairs', 'Delvex')}

In [ ]:
range()

### Type casting methods <br>
str(),int(),list(),float(),dict(),set(),tuple()

In [56]:
var = 10 
print(var)
print(type(var))

10
<class 'int'>

In [ ]:
primitive and non-primitive

In [60]:
var2 = float(var)
print(var2)
print(type(var2))

10.0
<class 'float'>

In [63]:
var = 25.2
print(var) 
var2 = int(var)
print(var2)
print(type(var2))

25.2
25
<class 'int'>

In [66]:
# int ===>   str   # Done
var = 2514 
print(var)
var2 = str(var)
print(var2)
print(type(var2))

2514
2514
<class 'str'>

In [67]:
# str ===>   int 
var = "258"
print(var)
print(type(var))

var2 = int(var)
print(var2)
print(type(var2))

258
<class 'str'>
258
<class 'int'>

In [73]:
# str ===>   int  ==>  should be integer content in string 
var = "258b"
print(var)
print(type(var))

var2 = int(var)
print(var2)
print(type(var2))

258b
<class 'str'>

ValueError: invalid literal for int() with base 10: '258b'

In [75]:
# list ==> tuple 
ls = [10,20,30,40]
print(ls)
print(type(ls))

tpl= tuple(ls)
print(tpl)
print(type(tpl))

[10, 20, 30, 40]
<class 'list'>
(10, 20, 30, 40)
<class 'tuple'>

In [76]:
# tuple == >  list  
tpl = (10,20,30,40)
print(tpl)
print(type(tpl))

ls= list(tpl)
print(ls)
print(type(ls))

(10, 20, 30, 40)
<class 'tuple'>
[10, 20, 30, 40]
<class 'list'>

In [77]:
# list  ===>   set  
var1 = [85,36,95,75,14]
print(var1)
print(type(var1))

var2= set(var1)
print(var2)
print(type(var2))

[85, 36, 95, 75, 14]
<class 'list'>
{36, 75, 14, 85, 95}
<class 'set'>

In [78]:
# SET => list 
var1 = {36, 75, 14, 85, 95}
print(var1)
print(type(var1))

var2= list(var1)
print(var2)
print(type(var2))

{36, 85, 75, 14, 95}
<class 'set'>
[36, 85, 75, 14, 95]
<class 'list'>

In [80]:
ls = [('A',10),('B',20),('C',30)]
print(ls)
print(type(ls))

dt= dict(ls)
print(dt)

[('A', 10), ('B', 20), ('C', 30)]
<class 'list'>
{'A': 10, 'B': 20, 'C': 30}

In [83]:
ls = [10,20,30,10,20,50,80]
var2 = list(set(ls))
print(var2)

[10, 80, 50, 20, 30]

In [ ]:
range(start , stop , jump )

In [88]:
ls = list(range(0,6))
print(ls)

[0, 1, 2, 3, 4, 5]

In [93]:
ls  = list(range(2,101,2))
print(len(ls))

50

In [99]:
ls = ['a','b','c','d','e']
for i in range(0,6,2):
    if i == 0 :
        continue
    if i % 2 == 0:
        print(ls[i])

c
e

In [101]:
st = "Ram Mohan Govind Kunal" 
st2 = st.split()
print(st2)

['Ram', 'Mohan', 'Govind', 'Kunal']

In [ ]:
# User input  
num1 = input("Plz enter first number : ")   # str 
num2 = input("Plz enter second number : ")  # str 
ouput = num1 + num2 
print(ouput)

2525

In [106]:
# User input  
num1 = int(input("Plz enter first number : "))   # str 
num2 = int(input("Plz enter second number : "))  # str 
ouput = num1 + num2 
print(ouput)

100

In [ ]:
num1 = int(input("Plz enter first number : "))   # str 
num2 = int(input("Plz enter second number : "))  # str 
ouput = num1 + num2 
print(ouput)

In [110]:
num = int(input("plz enter  a number : "))
output = "even" if num % 2 == 0 else "odd"
print(output)

even

In [116]:
user_input = eval(input("plz enter  a number : "))
print(user_input)
print(type(user_input))

[10, 20, 30, 10, 20]
<class 'list'>

In [112]:
for i in range(5):
    a = input("plz enter a string ")
    if i % 2 == 0:
        print(len(a)) 
    else:
        print(a)

6
ram
3
krishna
4

In [4]:
guest_list = ['mohit','savita','kavita','rohit'] 
padosi = ['priya','sona','bhumi','deeksha','kaalu'] 
unknown_members = ['suresh','angel priya','cutie pie'] 
name = input("enter your name plz : ")
if name  in guest_list:
    print(f"Hello {name} Your are my guest, plz welcome")
elif name in padosi:
    print(f"Hello {name} you are my pdosi, plz welcome")
else:
    print('unknown members')

unknown members

In [14]:
guest_list = ['mohit','savita','kavita','rohit'] 
padosi = ['priya','sona','bhumi','deeksha','kaalu'] 
members_list = guest_list + padosi 

name = input("enter your name plz : ")
if name  in members_list:
    if name in guest_list:
        print(f"Hello {name} welcome to you in home!") 
    elif name in padosi:
        gender =  input("are you mail or female enter f/m: ")
        if gender == "f":
            print("Most welcome in my home!")
        if gender == "m":
            print("bhaag bsdk")   
else:
    print('unknown members')

bhaag bsdk

In [17]:
num1 = [25,41,63,96,85,74]
num2 = [14,5,2536,85,74]
numbers = num1 + num2  
numbers 
for item in numbers:
    if item > 41:
        print(item)
print()
for item2 in num2:
    if item2 > 14 : 
        print(item2)

63
96
85
74
2536
85
74

2536
85
74

In [24]:
num1 = [25,41,63,96,85,74 ,55]
num2 = [14,5,2536,85,74,55]
numbers = int(input("plz enter number : "))
if (numbers in num1) and (numbers in num2):
    print("present in both") 
else:
    print("not present")

not present