In [4]:
var = 25 
print(type(var))

<class 'int'>

In [6]:
students_marks = [25,63,96,78,45,86]
print(students_marks)
print(type(students_marks))

[25, 63, 96, 78, 45, 86]
<class 'list'>

In [9]:
students_marks = [25,63,96,25.25,36.3,'upflairs',True,85,9]
print(students_marks)
print(type(students_marks))

[25, 63, 96, 25.25, 36.3, 'upflairs', True, 85, 9]
<class 'list'>

In [10]:
# int arr[3] = {10,20,30}; 
print(students_marks)

[25, 63, 96, 25.25, 36.3, 'upflairs', True, 85, 9]

In [15]:
st = "upflairs"
print(len(st))  # total no. of character

8

In [16]:
ls = [10,20,3040,5060,85]
print(len(ls))  # total no. of items.

5

In [19]:
    #    0  1  2  3  4  5 6  7
ls = [10,20,30,52,63,96,85,74,54,69,25,63]
print(ls[-1])

63

In [ ]:
    #    0  1  2  3  4  5 6  7
ls = [10,20,30,52,63,96,85,74,54,69,25,63]
print(ls[3])

TypeError: 'int' object is not subscriptable

In [26]:
# 1D array or list 
ls = [1,2,3]
print(ls)
print(type(ls))

[1, 2, 3]
<class 'list'>

In [29]:
# 2Darray or list [1D,1D,1D,1D]
ls = [[1,2,3],
      [4,5,6],
      [7,8,9]]
      
print(ls)
print(type(ls))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [30]:
# 3Darray or list  [2D,2D,2D,2D]
ls = [[[1,2,3],[4,5,6],[7,8,9]],[[1,2,3],[4,5,6],[7,8,9]],[[1,2,3],[4,5,6],[7,8,9]]]

print(ls)
print(type(ls))

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
<class 'list'>

In [36]:
# 2Darray or list [1D,1D,1D,1D]
ls = [[1,2,3],[4,5,6],[7,8,9]]
      
print(ls[-1])

[7, 8, 9]

In [40]:
ls[2][1]

[7, 8, 9]

In [ ]:
time , space

In [1]:
ls = [10,20,30,500,850,25]
print(ls)
print(type(ls))

[10, 20, 30, 500, 850, 25]
<class 'list'>

In [2]:
array:
accessing the items  
insertion operation 
deletion operation

[10, 20, 30, 500, 850, 25]

In [4]:
ls.append(100)  # used to insert the item into list

In [6]:
ls.append(200)   # insert item into the list but at the last position 
print(ls)

[10, 20, 30, 500, 850, 25, 100, 200]

In [7]:
ls.append(300)
print(ls)

[10, 20, 30, 500, 850, 25, 100, 200, 300]

In [ ]:
ls[1] = 500  # item insert ==> update

In [11]:
print(ls)

[10, 500, 30, 500, 850, 25, 100, 200, 300]

In [13]:
ls.insert(2,55)
print(ls)

[10, 500, 55, 30, 500, 850, 25, 100, 200, 300]

In [8]:
print(ls)


2nd ==> 55

[10, 20, 30, 500, 850, 25, 100, 200, 300]

In [14]:
print(ls)
ls[1] = 20   # update 
ls.insert(position,item)   # to insert specific position 
ls.append(item ) # last insert

[10, 500, 55, 30, 500, 850, 25, 100, 200, 300]

In [15]:
ls = ['A','B','C','D','E','F']
print(ls)

['A', 'B', 'C', 'D', 'E', 'F']

In [17]:
ls.pop()  # remove the item from the last position
print(ls)

['A', 'B', 'C', 'D', 'E']

In [19]:
print(ls)
ls.pop(0)
print(ls)

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D', 'E']

In [21]:
print(ls)
ls.pop(2)
print(ls)

['B', 'C', 'D', 'E']
['B', 'C', 'E']

In [22]:
ls = [10,20,30,['B', 'C', 'E'],'upflairs']
print(ls)

[10, 20, 30, ['B', 'C', 'E'], 'upflairs']

In [24]:
ls[3].pop(1)

'C'

In [25]:
print(ls)

[10, 20, 30, ['B', 'E'], 'upflairs']

In [27]:
ls = ['A','B','C','D','E','F']
print(ls)

['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
insertion ==> insert, append 
deletion ==> pop , remove

In [29]:
print(ls)
ls.remove('D')
print(ls)

['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'E', 'F']

In [31]:
print(ls)
del ls[3]
print(ls)

['A', 'B', 'C', 'E', 'F']
['A', 'B', 'C', 'F']

In [32]:
ls = ['A','B','C','D','E','F']
print(ls)
# Z

['A', 'B', 'C', 'D', 'E', 'F']

In [33]:
ls.insert(3,"Z")
print(ls)

['A', 'B', 'C', 'Z', 'D', 'E', 'F']

In [ ]:
ls.remove("Z") 
ls.pop(3)
del ls[3]

In [36]:
ls = ['A','B','C','D','E','F']
print(ls)

['A', 'B', 'C', 'D', 'E', 'F']

In [38]:
ls.clear()  # all delete 
print(ls)

[]

In [43]:
ls = ['A','B','C','D','E','F','B','Ball']
print(ls)

['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']

In [44]:
print(ls.count("B"))  # it count occurence

2

In [42]:
print(ls.count("A"))

1

In [45]:
ls = ['A','B','C','D','E','F','B','Ball']
print(ls)

['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']

In [46]:
ls.index('C')

2

In [47]:
ls2 = ls.copy()
print(ls2)

['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']

In [50]:
print(ls)
print(ls2)
ls.pop()
print(ls)
print(ls2)

['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']
['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']
['A', 'B', 'C', 'D', 'E', 'F', 'B']
['A', 'B', 'C', 'D', 'E', 'F', 'B', 'Ball']

In [53]:
ls = [25,96,45,75,84,96,587,5,42]
ls.reverse() 
print(ls)

[42, 5, 587, 96, 84, 75, 45, 96, 25]

In [54]:
print(ls)

[42, 5, 587, 96, 84, 75, 45, 96, 25]

In [56]:
ls = [25,96,45,75,84,96,587,5,42] 
print(ls[::-1])

[42, 5, 587, 96, 84, 75, 45, 96, 25]

In [58]:
ls = [25,96,45,75,84,96,587,5,42] 
print(ls)
ls.sort()  # ascending order 
print(ls)

[25, 96, 45, 75, 84, 96, 587, 5, 42]
[5, 25, 42, 45, 75, 84, 96, 96, 587]

In [59]:
ls = [25,96,45,75,84,96,587,5,42] 
print(ls)
ls.sort()  # ascending order 
print(ls[::-1])  # descending order

[25, 96, 45, 75, 84, 96, 587, 5, 42]
[587, 96, 96, 84, 75, 45, 42, 25, 5]

In [61]:
ls = [25,96,45,75,84,96,587,5,42] 
print(ls)
ls.sort(reverse=True)  # descending order 
print(ls)  # descending order

[25, 96, 45, 75, 84, 96, 587, 5, 42]
[5, 25, 42, 45, 75, 84, 96, 96, 587]

In [66]:
ls = [25,96,45,75,84,96,587,5,42] 
output = ls.sort()
print(output)

None

In [75]:
ls = [25,96,45,75,84,96,587,5,42] 
ls2 = sorted(ls)
ls2.reverse()
print(ls2)

[587, 96, 96, 84, 75, 45, 42, 25, 5]

In [78]:
ls = [25,96,45,75,84,96,587,5,42] 
ouput = sorted(ls)[::-1]
print(ouput)

[587, 96, 96, 84, 75, 45, 42, 25, 5]

In [79]:
# difference btwn append and extend?  
ls1 = ['A','B','C','D']
ls2 = ['F','G','H']
print(ls1)
print(ls2)

['A', 'B', 'C', 'D']
['F', 'G', 'H']

In [80]:
ls1.append(ls2)
print(ls1)

['A', 'B', 'C', 'D', ['F', 'G', 'H']]

In [81]:
ls1 = ['A','B','C','D']
ls2 = ['F','G','H']
print(ls1)
print(ls2)

['A', 'B', 'C', 'D']
['F', 'G', 'H']

In [82]:
ls1.e)
print(ls1)xtend(ls2

['A', 'B', 'C', 'D', 'F', 'G', 'H']

In [84]:
print(ls1[5])

G

In [85]:
ls1 = ['A','B','C','D']
ls2 = ['F','G','H']

ls3 = ls1 + ls2  # concatenation 
print(ls3)

['A', 'B', 'C', 'D', 'F', 'G', 'H']

In [88]:
ls2 = ['F','G','H'] 
print(ls2 * 3 )

['F', 'G', 'H', 'F', 'G', 'H', 'F', 'G', 'H']

In [ ]:
ls1 = ['A','B','C','D'] 

1. insert 'Z' at the 2nd position in above list 
2. remove 'D' from the list do it by multiple  ways. del, remove , pop . 
ls2 = [85,96,54,5,85,69,2]
1. sort the list into  ascending order as well as desecnding order. 
2. ls3 = ["RADHEY","UPFLAIRS"]  extend into ls2. 
ls2 = [85,96,54,5,85,69,2,"RADHEY","UPFLAIRS"]
3. update "RADHEY" by the "Radha" 
4. extract "AIR" from the "UPFLAIRS" from ls2.