In [5]:
for serial_no in range(1,11):
    print(serial_no,". hello world")

1 . hello world
2 . hello world
3 . hello world
4 . hello world
5 . hello world
6 . hello world
7 . hello world
8 . hello world
9 . hello world
10 . hello world

In [9]:
for item in range(2,101,2):
    print(item)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
st = "upflairs"
for char in st:
    print(char)

u
p
f
l
a
i
r
s

In [12]:
print("hello world",end=" ")
print("Hello world",end=" ")

hello world Hello world

In [5]:
for i in range(len(st)):
    print(st[i])

u
p
f
l
a
i
r
s

In [15]:
for i in range(len(st)):
    print(st[i],end=" ")

u p f l a i r s

In [17]:
ls = [10,20,30,40,50,60]
for item in range(len(ls)):
    print(ls[item])

10
20
30
40
50
60

In [19]:
ls = [10,20,30,40,50,60]
for item in ls:
    print(item)

10
20
30
40
50
60

In [20]:
ls = (10,20,30,40,50,60)
for item in ls:
    print(item)

10
20
30
40
50
60

In [21]:
ls = {10,20,30,40,50,60}
for item in ls:
    print(item)

50
20
40
10
60
30

In [27]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40}
for item in dt:
    print(item)

A
B
C
D
E

In [29]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40}
for item in dt.values():
    print(item)

10
20
30
40
40

In [25]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40} 
print(dt)
print(dt.keys())
print(dt.values())

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 40}
dict_keys(['A', 'B', 'C', 'D', 'E'])
dict_values([10, 20, 30, 40, 40])

In [31]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40}
for tpl in dt.items():  # [(k,v),(),()]
    print(tpl)

('A', 10)
('B', 20)
('C', 30)
('D', 40)
('E', 40)

In [33]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40}
for tpl in dt.items():  # [(k,v),(),()]
    print("key : ",tpl[0], "values : ",tpl[1])

key :  A values :  10
key :  B values :  20
key :  C values :  30
key :  D values :  40
key :  E values :  40

In [34]:
dt = {'A':10,'B':20,'C':30,'D':40,'E':40} 
for key,value in dt.items(): 
    print("key : ",key,"values : ",value)

key :  A values :  10
key :  B values :  20
key :  C values :  30
key :  D values :  40
key :  E values :  40

In [38]:
ls = [10,20,30,50,40,60,80,70]
target  = 30 
i = 0
count = 0 
for item in ls:
    if item == target: 
        print(i)
        break 
    i += 1
    count += 1   
print(count)

2
2

In [43]:
for i in range(1,11): 
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [46]:
count = 0 
for i in range(1,11):
    continue 
    count += 1  
print(count)

0

In [ ]:
task 1. [10,42,5,153,6,9,85,7,5,4,5,6,1,4,5,2,36,75,84,69,58,45]
write a program to find average of the above list. 
write a program to find average of a even numbers from the above list. 
write a program to find average of a even numbers from the above list and even number should be less than 50. 

task 2.  student_data = {'Name':['mohit','suresh','chandan','kartik'],
                         'Marks':[25,36,45,46],
                         'subject':'math'}
find the no. of student in a "student_data"?
add one more student record inside student_data "kaalu" and their marks = 38
remove the student "suresh" and thier marks from the student_data.

In [ ]:
10,20,30 

10+20+30/3