### Set

In [ ]:
# multiple item stores but unordered collection,not consider duplicates 
# st = [] , () , {}

In [7]:
st = {10,10,20,20,30,75,75,14,14,25,25,36,36}
print(st)
print(type(st))

{36, 20, 30, 25, 10, 75, 14}
<class 'set'>

In [3]:
st = {10,20,25.2,'upflairs',True}
print(st)
print(type(st))

{True, 20, 'upflairs', 25.2, 10}
<class 'set'>

In [4]:
st = {10,20,25.2,'upflairs',True,85}
print(st)
print(type(st))

{True, 20, 85, 'upflairs', 25.2, 10}
<class 'set'>

In [5]:
print(st[2])

TypeError: 'set' object is not subscriptable

In [6]:
st = {10,20,25.2,'upflairs',True,85,85,85,85,85}
print(st)
print(type(st))

{True, 20, 85, 'upflairs', 25.2, 10}
<class 'set'>

In [ ]:
str , tuple  ==> imutable

In [19]:
st = {74,85,69,75,48,96,25,12}
print(st)
print(type(st))

{96, 69, 74, 75, 12, 48, 85, 25}
<class 'set'>

In [3]:
# insertion  mutable (unordered)
print(st)
st.add(100) 
print(st)

{96, 69, 74, 75, 12, 48, 85, 25}
{96, 100, 69, 74, 75, 12, 48, 85, 25}

In [4]:
print(st)
st.add(555) # to insert the item into set
print(st)

{96, 100, 69, 74, 75, 12, 48, 85, 25}
{96, 100, 69, 74, 75, 12, 555, 48, 85, 25}

In [23]:
## deletion operation 
# st.discard()
# st.remove()
# st.pop()   # start item remove 
print(st)
print(st.pop())

{74, 75, 12, 48, 85, 25}
74

In [30]:
st = {96, 100, 69, 74, 75, 12, 48, 85, 25}

In [27]:
print(st)
st.remove(200)
print(st)

{96, 100, 69, 74, 75, 12, 48, 25}

KeyError: 200

In [33]:
print(st)
st.discard(200)
print(st)

{96, 69, 74, 75, 12, 48, 85, 25}
{96, 69, 74, 75, 12, 48, 85, 25}

In [18]:
print(st)

{85, 25}

In [38]:
st1 =  {85,96,74,85,25,36,25,14}
st2 = {85,96,74,12,52,46,45,5}
print(st1)
print(st2)

{96, 36, 85, 25, 74, 14}
{96, 5, 74, 12, 45, 46, 52, 85}

In [37]:
print(st1.intersection(st2))  # returns common items

{96, 74, 85}

In [39]:
print(st1.union(st2))

{96, 36, 5, 74, 12, 45, 14, 46, 52, 85, 25}

In [40]:
st1 =  {85,96,74}
st2 = {85,56,44}
print(st1)
print(st2)

{96, 74, 85}
{56, 44, 85}

In [41]:
print(st1.union(st2))

{96, 85, 56, 74, 44}

In [50]:
st1 =  {85,96,74}
st2 = {85,56,44}
print(st1)
print(st2)

{96, 74, 85}
{56, 44, 85}

In [47]:
print(st1.difference(st2))  # A - B

{96, 74}

In [52]:
# update ==> combine 
st1.update(st2)
print(st1)

{96, 85, 56, 74, 44}